<%- include('header'); -%>

 <div class="content">
 <h1 id="welcome">Contact Us</h1>
 </div>

 <!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->

  
  <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
  <table class="contactsTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John Doe</td>
        <td>1 Long Road</td>
        <td> 04451 </td>
        <td>jd4321@doe.com</td>
        
        
      </tr>
      <tr>
          <td>Jane Doe</td>
        <td>2 Long Avenue </td>
        <td> 034543 </td>
        <td>jd1234@doe.com</td>
        
        

      </tr>
      <tr>
          <td>Mary Doe</td>
          <td>3 Long Terrace </td>
        <td> 4564 </td>
        <td>md4321@doe.com</td>
      </tr>

      <tr>
          <td>Michael Doe</td>
          <td>4 Long Drive </td>
          <td> 034332 </td>
          <td>md1234@doe.com</td>
      </tr>
    </tbody>
  </table>

  
  
<%- include('footer'); -%>